.card{
    height:min-content;
    width:450px;
    background-color:rgb(100, 206, 238);
    padding:10px;
    color:white;
    margin:0 auto;
    border-radius: 5px;
}

table{
    border:1px solid white;
    border-collapse: collapse;
    width:100%;
}
table>thead>tr>th{
    border:1px solid white;
    padding:5px;
}
table>tbody>tr>td{
    border: 1px solid white;
    padding:5px;
}

.btn{
    height:30px;
    background-color:rgb(86, 86, 212);
    border:none;
    border-radius: 5px;
    color:white;
    margin:10px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(77, 192, 196);
}